<% provide(:title, 'HOME') %>

<section class="home-section bg-dark-60 portfolio-page-header parallax-bg" id="home">
  <div class="titan-caption">
    <div class="caption-content">
      <div class="font-alt mb-30 titan-title-size-1">Hello &amp; welcome</div>
      <div class="font-alt mb-40 titan-title-size-4">YEApp</div>
    </div>
  </div>
</section>

<div class="index-content">
  <div class="container">
    <%= @videos.each do |video| %>
    <div class="col-lg-4">
      <div class="card">
        <h4><%= video.name %></h4>
        <iframe id="player" frameborder="0" height="200" src="https://www.youtube.com/embed/#{video.video_id}" type="text/html" width="320"></iframe>
        <p><%= video.comment %></p>
        <%= link_to "#{video.user.name}" %><br />
    </div>
    <% if Like.find_by(user_id: current_user.id, post_id: video.id) %>
      <%= link_to("/likes/#{video.id}/destroy", {method: "post"}) do %>
        <span class="fa fa-heart like-btn-unlike"></span>
      <% end %>
    <% else %>
      <%= link_to("/likes/#{video.id}/create", {method: "post"}) do %>
        <span class="fa fa-heart like-btn"></span>
      <% end %>
    <% end %>
      <%= @likes_count %>
    </div>
    <% end %>
  </div>
</div>
