- provide(:title, 'HOME')
- set_meta_tags title: 'YEApp | HOME'
%section#home.home-section.bg-dark-60.portfolio-page-header.parallax-bg
  .titan-caption
    .caption-content
      .font-alt.mb-30.titan-title-size-1 Hello &amp; welcome
      .font-alt.mb-40.titan-title-size-4 YEApp
.index-content
  .container
    - @videos.each do |video|
      .col-lg-4
        .card
          %h4= video.name
          %iframe#player{:frameborder => "0", :height => "200", :src => "https://www.youtube.com/embed/#{video.uuid}", :type => "text/html", :width => "320"}
          -# イメージと名前を並べたい
          - if video.user.image.present?
            %p= image_tag video.user.image.to_s, :style => "border-radius: 50%"
          %p= link_to "#{video.user.name}", user_path(video.user), :style => "font-size:18px"
          = video.comment
          %br/
          .like-button{:class => "like-button-#{video.id}"}
            = render partial: 'likes/like', locals: { video: video }
.container.icon.text-right
  = link_to root_path do
    %i.fa.fa-twitter{"aria-hidden" => "true"}
  = link_to root_path do
    %i.fa.fa-facebook{"aria-hidden" => "true"}
