<% provide(:title, 'POST') %>

<div class="main">
  <section class="module bg-dark-30" data-background="./images/section-4.jpg">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
          <h1 class="module-title font-alt mb-0">Post</h1>
        </div>
      </div>
    </div>
  </section>

<!-- form部分 -->
<section class="module">
  <div class="container">
    <div class="row">
      <div class="col-sm-5 col-sm-offset-1 mb-sm-40">
        <h4 class="font-alt">POST</h4>
        <hr class="divider-w mb-10">
        <%= form_for @video do |f| %>
          <form class="form">
            <div class="form-group">
              <%= f.text_field :name, class: "form-control", placeholder: "NAME" %>
            </div>
            <div class="form-group">
              「https://www.youtube.com/watch?v=」以下を入力して下さい
              <%= f.text_field :video_id, class: "form-control",placeholder: "URL" %>
            </div>
            <div class="form-group">
              <%= f.text_field :comment, class: "form-control", placeholder: "COMMENT" %>
            </div>
            <div class="form-group">
              <%= f.submit "POST",class: "btn btn-round btn-b" %>
            </div>
          </form>
        <% end %>
      </div>
    </div>
  </div>
</section>
</div>
