- provide(:title, 'LOG IN')
%section#home.home-section.bg-dark-60.portfolio-page-header.parallax-bg
  .titan-caption
    .caption-content
      .font-alt.mb-30.titan-title-size-1 Hello &amp; welcome
      .font-alt.mb-40.titan-title-size-4 YEApp
      %a.section-scroll.btn.btn-border-w.btn-round{:href => "#portfolio"} Our Works
.main
  %section.module.bg-dark-30
    .container
      .row
        .col-sm-6.col-sm-offset-3
          %h1.module-title.font-alt.mb-0 Login
  / form部分
  %section.module
    .container
      .row
        .col-sm-5.col-sm-offset-1.mb-sm-40
          %h4.font-alt Login
          %hr.divider-w.mb-10/
          = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
            .form-group
              = f.text_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "EMAIL"
            .form-group
              = f.password_field :password, autocomplete: "current-password",  class: "form-control",placeholder: "PASSWORD"
            - if devise_mapping.rememberable?
              .form-group
                = f.check_box :remember_me
                = f.label :remember_me
            .form-group
              = f.submit "Log in", class: "btn btn-round btn-b"
          = link_to "Sign upはこちら", new_user_registration_path , class: "btn btn-round btn-danger"
          %p= render "devise/shared/links"
