<!DOCTYPE html>
<html lang="ja" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--
    Document Title
    =============================================
    -->
    <title>YEApp | <%= (yield(:title)) %></title>

    <%= render 'shared/favicon' %>
    <!--
    Stylesheets
    =============================================

    -->
    <!-- Default stylesheets-->
    <%= stylesheet_link_tag "bootstrap.min.css" %>
    <!-- Template specific stylesheets-->
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700" %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Volkhov:400i" %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" %>
    <%= stylesheet_link_tag "animate.css" %>
    <%= stylesheet_link_tag "font-awesome.min.css" %>
    <%= stylesheet_link_tag "et-line-font.css" %>
    <%= stylesheet_link_tag "flexslider.css" %>
    <%= stylesheet_link_tag "owl.carousel.min.css" %>
    <%= stylesheet_link_tag "owl.theme.default.min.css" %>
    <%= stylesheet_link_tag "magnific-popup.css" %>
    <%= stylesheet_link_tag "simpletextrotator.css" %>
    <!-- Main stylesheet and color file-->
    <%= stylesheet_link_tag "style.css" %>
    <%= stylesheet_link_tag "default.css", :id => "color-scheme"%>
  </head>

  <body data-spy="scroll" data-target=".onpage-navigation" data-offset="60">
    <main>
      <div class="page-loader">
        <div class="loader">Loading...</div>
      </div>

    <%= render 'layouts/header' %>
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>">
        <div class="container">
          <%= value %>
        </div>
      </div>
    <% end %>

    <%= yield %>

    <%= render 'layouts/footer' %>

  </main>

    <!--
    JavaScripts
    =============================================
    -->
    <%= javascript_include_tag "jquery.js" %>
    <%= javascript_include_tag "bootstrap.min.js" %>
    <%= javascript_include_tag "wow.js" %>
    <%= javascript_include_tag "jquery.mb.YTPlayer.js" %>
    <%= javascript_include_tag "isotope.pkgd.js" %>
    <%= javascript_include_tag "imagesloaded.pkgd.js" %>
    <%= javascript_include_tag "jquery.flexslider.js" %>
    <%= javascript_include_tag "owl.carousel.min.js" %>
    <%= javascript_include_tag "smoothscroll.js" %>
    <%= javascript_include_tag "jquery.magnific-popup.js" %>
    <%= javascript_include_tag "jquery.simple-text-rotator.min.js" %>
    <%= javascript_include_tag "plugins.js" %>
    <%= javascript_include_tag "main.js" %>
  </body>
</html>
