!!!
%html
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %title
      YEApp | #{(yield(:title))}
    = csrf_meta_tags
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => "reload"
    = javascript_include_tag "application"
    = render 'layouts/shim'
  %body{"data-offset" => "60", "data-spy" => "scroll", "data-target" => ".onpage-navigation"}
    = render 'layouts/header'
    %main
      .container
      = yield
    = render 'layouts/footer'
