<!DOCTYPE html>
<html lang="ja" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--
    Document Title
    =============================================
    -->
    <title>YEApp | <%= (yield(:title)) %></title>

    <%= render 'shared/favicon' %>
    <!--
    Stylesheets
    =============================================

    -->
    <!-- Default stylesheets-->
    <link href="assets/stylesheets/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Template specific stylesheets-->
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700" %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Volkhov:400i" %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" %>
    <%= stylesheet_link_tag "/assets/stylesheets/lib/animate.css/animate.css.scss" %>
    <%= stylesheet_link_tag "/assets/stylesheets/lib/components-font-awesome/css/font-awesome.min.css" %>
    <%= stylesheet_link_tag "/assets/stylesheets/lib/lib/et-line-font/et-line-font.css" %>
    <%= stylesheet_link_tag "/assets/stylesheets/lib/flexslider/flexslider.css" %>
    <%= stylesheet_link_tag "/assets/stylesheets/lib/owl.carousel/dist/assets/owl.carousel.min.css" %>
    <%= stylesheet_link_tag "/assets/stylesheets/lib/owl.carousel/dist/assets/owl.theme.default.min.css" %>
    <%= stylesheet_link_tag "/assets/stylesheets/lib/magnific-popup/dist/magnific-popup.css" %>
    <%= stylesheet_link_tag "/assets/stylesheets/lib/simple-text-rotator/simpletextrotator.css" %>
    <!-- Main stylesheet and color file-->
    <%= stylesheet_link_tag "/assets/stylesheets/css/style.css" %>
    <%= stylesheet_link_tag "/assets/stylesheets/css/colors/default.css", :id => "color-scheme" %>
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
    <![endif]-->
  </head>

  <body data-spy="scroll" data-target=".onpage-navigation" data-offset="60">
    <main>
      <div class="page-loader">
        <div class="loader">Loading...</div>
      </div>

    <%= render 'layouts/header' %>

    <%= yield %>

    <%= render 'layouts/footer' %>

    <!--
    JavaScripts
    =============================================
    -->
    <%= javascript_include_tag "/assets/stylesheets/lib/jquery/dist/jquery.js" %>
    <%= javascript_include_tag "/assets/stylesheets/lib/bootstrap/dist/js/bootstrap.min.js" %>
    <%= javascript_include_tag "/assets/stylesheets/lib/wow/dist/wow.js" %>
    <%= javascript_include_tag "/assets/stylesheets/lib/jquery.mb.ytplayer/dist/jquery.mb.YTPlayer.js" %>
    <%= javascript_include_tag "/assets/stylesheets/lib/isotope/dist/isotope.pkgd.js" %>
    <%= javascript_include_tag "/assets/stylesheets/lib/imagesloaded/imagesloaded.pkgd.js" %>
    <%= javascript_include_tag "/assets/stylesheets/lib/flexslider/jquery.flexslider.js" %>
    <%= javascript_include_tag "/assets/stylesheets/lib/owl.carousel/dist/owl.carousel.min.js" %>
    <%= javascript_include_tag "/assets/stylesheets/lib/smoothscroll.js" %>
    <%= javascript_include_tag "/assets/stylesheets/lib/magnific-popup/dist/jquery.magnific-popup.js" %>
    <%= javascript_include_tag "/assets/stylesheets/lib/simple-text-rotator/jquery.simple-text-rotator.min.js" %>
    <%= javascript_include_tag "/assets/javascripts/js/plugins.js" %>
    <%= javascript_include_tag "/assets/javascripts/js/main.js" %>
    </main>
  </body>
</html>
