!!!
%html{:dir => "ltr", :lang => "ja"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %title
      YEApp | #{(yield(:title))}
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => "reload"
    = javascript_include_tag "application", "data-turbolinks-track" => "reload"
    = csrf_meta_tags
    = stylesheet_link_tag "https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700"
    = stylesheet_link_tag "https://fonts.googleapis.com/css?family=Volkhov:400i"
    = stylesheet_link_tag "https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800"
  %body{"data-offset" => "60", "data-spy" => "scroll", "data-target" => ".onpage-navigation"}
    = render 'layouts/header'
    %main
      .page-loader
        .loader Loading...
      = yield
    = render 'layouts/footer'
